.content{
   background-image:url(../images/night.jpg);
    padding:14em 26em 14em 26em;
}

 p, hr{
    color:white;
}

 hr{
     width:auto;
     border:solid 0.2em white;
     height:0.001em;
 }


table{
    
    width:50%;
}

td, th {
    border: 0.2em solid black;
}